*{
    font-family: 'latos',sans-serif;
}
.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
background-color: #050505;
}
.primary-color{
  color: #050505
}
.secondary-color{
    color: #7a7a7a;
}

/*NAVBAR*/
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}
#navbar a.active{
    border-bottom:1px solid #050505 ;
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 40px;
}
.navbar-brand span{
   font-weight: 700;
   font-size: 1.5em;
   margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar-items .nav-items{
    margin: 0 1em;
}

/*SLIDER*/

#slider{
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption{
    bottom: 3em;
}
#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: black 2px 2px;
}
.btn{
    border-radius:0 ;
}

#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,.carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active{
    background-color: #000;
}
/*CTRL + D = SELECIONAR PALAVRA REPEDIDA MAIS PRÓXIMA*/